<div class="row animate__animated animate__fadeIn animate__faster" *ngIf="character">
  <div class="col">
    <img [src]="character.image" alt="">
  </div>
  <div class="col">
    <h2>{{ character.name }}</h2>
    <hr>
    <p><strong>Estado:</strong> {{ character.status }}</p>
    <p><strong>Especie:</strong> {{ character.species }}</p>
    <p><strong>Última ubicación conocida:</strong> {{ character.location?.name }}</p>
    <button class="btn btn-outline-danger" (click)="back()">Regresar</button>
  </div>

</div>
