#up {
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 10;
  padding: .2rem;
  font-size: 1.5rem;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  cursor: pointer;
}

.card:hover {
  opacity: .8 !important;
}

.card-img-top {
  display: flex;
  text-align: center;
  justify-content: center;
}
